<!--  YOUR CODE HERE -->

<header class="w3-container w3-blue-gray">
  <h1><%= @name %></h1>
</header>
<img src="images/image.jpg" alt="food" style="width:100%">

<h1>Ingredients</h1>
  <ul>
    <% @ingredients.each do |ingredient| %>
      <li><%= ingredient %></li>
    <% end %>
  </ul>

  <h1>Directions</h1>

  <ol>
    <% @directions.each do |direction| %>
      <li><%= direction %></li>
    <% end %>
  </ol>


  <h1>Reviews</h1>

    <% @reviews.each do |review| %>
      <p>
        Name: <%= review[:username] %><br />
        Rating: <%= review[:rating] %><br />
        Review: <%= review[:review] %>
      </p>

    <% end %>
  </ol>
